.demo-headline {
    padding: 73px 0 110px;
    text-align: center;
}
.demo-logo {
    font-size: 90px;
    font-weight: 900;
    letter-spacing: -2px;
    line-height: 100px;
}
.demo-logo .logo {
    background: url(../images/demo/logo-mask.png) center 0 no-repeat;
    background-size: 256px 186px;
    height: 186px;
    margin: 0 auto 26px;
    overflow: hidden;
    text-indent: -9999em;
    width: 256px;
}
.demo-logo small {
    color: rgba(52, 73, 94, 0.30000000000000004);
    display: block;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -1px;
    padding-top: 5px;
}
.demo-row {
    margin-bottom: 20px;
}
.demo-panel-title {
    margin-bottom: 20px;
    padding-top: 20px;
}
.demo-panel-title small {
    color: #798795;
    font-size: inherit;
    font-weight: 400;
}
.demo-navigation {
    margin-bottom: -4px;
    margin-top: -10px;
}
.demo-pager {
    margin-top: -10px;
}
.tooltip{max-width: 200px}


.demo-headings {
    margin-bottom: 12px;
}
.demo-tiles {
    margin-bottom: 46px;
}
.demo-icons {
    font-size: 32px;
    margin-left: -15px;
}
.demo-icons .demo-content {
    margin: 0 0 0 -36px;
}
.demo-icons .demo-content > span {
    display: inline-block;
    margin: 0 0 32px 36px;
    width: 24px;
    font-size: 24px;
}
.demo-icons-tooltip {
    bottom: 0;
    color: #c2c8cf;
    font-size: 12px;
    left: 100%;
    margin-left: 0 !important;
    position: absolute;
    width: 80px;
}
.demo-illustrations {
    margin-top: 40px;
    *zoom: 1;
}
.demo-illustrations:before,
.demo-illustrations:after {
    display: table;
    content: "";
}
.demo-illustrations:after {
    clear: both;
}
.demo-illustrations .demo-content {
    margin: 0 0 0 -40px;
    padding-top: 20px;
}
.demo-illustrations .demo-content > div {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 0 80px 40px;
    text-align: center;
}
.demo-illustrations img {
    display: inline-block;
    max-height: 100px;
    max-width: 100px;
    vertical-align: baseline;
}
.demo-samples {
    margin-bottom: 46px;
}
.demo-video {
    padding-top: 95px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.demo-download-section {
    float: none;
    margin: 0 auto;
    padding: 60px 0 90px 20px;
    text-align: center;
}
.demo-download-section [class*='fui-'] {
    margin: 3px 0 -3px;
}
.demo-download {
    background-color: #ebedef;
    height: 120px;
    margin: 0 auto 32px;
    padding: 40px 28px 30px 32px;
    text-align: center;
    width: 130px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.demo-download img {
    height: 104px;
    width: 82px;
}
.demo-download-text {
    font-size: 15px;
    padding: 20px 0;
    text-align: center;
}
.demo-text-box a:hover {
    color: #1abc9c;
}
.demo-browser {
    background: #2c3e50 url(../images/demo/browser.png) 0 0 no-repeat;
    background-size: 659px 42px;
    color: #ffffff;
    margin: 0 41px 140px 0;
    padding-top: 42px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.demo-browser-side {
    float: left;
    padding: 22px 20px;
    width: 111px;
}
.demo-browser-side > h5 {
    margin-bottom: 3px;
    text-transform: none;
}
.demo-browser-side > h6 {
    font-size: 11px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 3px;
    text-transform: none;
}
.demo-browser-author {
    background: url(../images/demo/browser-author.jpg) center center no-repeat;
    border: 3px solid #ffffff;
    display: block;
    height: 84px;
    margin: 0 auto;
    width: 84px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.demo-browser-action {
    padding: 30px 0 12px;
}
.demo-browser-action > .btn {
    padding: 9px 0 10px 11px !important;
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.demo-browser-action > .btn:before {
    color: #ffffff;
    content: '\e009';
    font-size: 16px;
    font-family: 'Flat-UI-Icons';
    font-weight: 300;
    margin-right: 12px;
    position: relative;
    top: 1px;
    -webkit-font-smoothing: antialiased;
}
.demo-browser-content {
    background-color: #34495e;
    overflow: hidden;
    padding: 21px 0 0 20px;
    -webkit-border-radius: 0 0 6px;
    -moz-border-radius: 0 0 6px;
    border-radius: 0 0 6px;
}
.demo-browser-content > img {
    border: 6px solid #ffffff;
    float: left;
    margin: 0 15px 20px 0;
    width: 134px;
}
.demo-tooltips .tooltip { left: -8px !important; position: relative !important; top: -8px !important; }